#indexPage .login-page .carousel-indicators li.active {
	filter: invert(75%);
}
#indexPage .login-container {
	position: absolute;
	top: 140px;
	text-align: center;
	width: 100%;
}
#indexPage .login-container .btn-login {
    background-color: #6c8aec;
    width: 106px;
    height: 42px;
    opacity: .8;
    font-weight: 500;
    border-radius: 12px;
}
#indexPage .login-container .btn-login:hover {
    background-color: #3f58a9;
    opacity: 1;
    font-weight: 700;
}
#indexPage .login-container2 {
	position: absolute;
	top: 195px;
	text-align: center;
	width: 100%;
}
#indexPage .login-container2 .btn-cadastro {
    background-color: #6c8aec;
    width: 120px;
    height: 42px;
    opacity: .8;
    font-weight: 500;
    border-radius: 12px;
}
#indexPage .login-container2 .btn-cadastro:hover {
    background-color: #3f58a9;
    opacity: 1;
    font-weight: 700;
}